body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a[href] {
    font-size: 20px;
    color: #ff2e2e;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    margin-top: 20px;
  }

  .grid a {
    text-decoration: underline;
    color: red;
    text-align: center;
    display: block;
  }

  .grid a.green {
    color: #2eff74;
  }

  footer {
    margin-top: 40px;
    text-align: center;
  }

h1 {
    margin-top: 50px;
    font-size: 12em;
    color: #b11414;
    padding: 0px;
    margin: -30px;
}

h2 {
    color: #2eff74;
}

h3 {
    font-family:Montserrat-SB;
    font-size:x-small;
    color:#2eff74
}

.center {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}